/******** LAYOUT *********/
body {
  background: #A1D3B0;
  background: -webkit-linear-gradient(#A1D3B0, #f6f1d3);
  background:    -moz-linear-gradient(#A1D3B0, #f6f1d3);
  background:         linear-gradient(#A1D3B0, #f6f1d3);

}
.container {
	padding-top: 20px;
	width: 60%;
	height: 100%;
	color: #134546;
	
}

.form-group {
	width: 200px;
	padding: 20px;

}

.guess-box {
	width: 80%;
	border: solid 1px white;
	border-radius: 10px;
	margin: 0px auto;
	background-color: rgba(255, 255, 255, .2);

	
}

.success
{
-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
   -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
		box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);

}

/******** HEADINGS *********/
h1 {
	text-align: center;
	color: #134546;
}

h4 small{
	color: #134546;
}

p {
	padding: 20px;
}

.subtitle {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	padding: 10px 0 50px 0;
	color: white;
	
}
/******** GRID *********/
.col-sm-6 {
	text-align: center;	
}

ul {
	padding-top: 10px;
}

li {
	font-weight: bold;
}

.cold {
	color: navy;
}

.cool {
	color: #0099CC;
}

.warm {
	color: #FF9933;
}

.hot {
	color: #CC0000;
}

.winner {
	color: red;
	font-size: 20px;
}

/******** FORMS *********/
.formDiv {
	padding: 20px;
	margin: 0 auto;
}
.btnBox {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}
.btn {
	padding: 5px;
	color: #134546;
	background: #f2f5f6;
    background: -webkit-linear-gradient(#F2F9FE, #c8d7dc);
    background:    -moz-linear-gradient(#F2F9FE, #c8d7dc);
    background:         linear-gradient(#F2F9FE, #c8d7dc);
    margin: 0 auto;
}
